<!-- 首页 -->
<!-- 页面样式 -->
<%- css('css/index.css')%>
<!-- 居中内容块 -->
<div class="center-block">
    <!-- 加载条 -->
    <div class="loading-bar"></div>
    <!-- 标题块 -->
    <div class="title-block">
        <p class="big-title"><%- config.title %></p>
        <p class="sm-title"><%- config.subtitle %></p>
    </div>
    <!-- 文章列表 -->
    <div class="post-list">
        <a class="post" href="">
            <div class="info">
                <p class="title">测试模组</p>
                <p class="introduction of-ellipsis_2">
                    内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息
                </p>
                <div class="meta">
                    <i class="iconfont icon-shijian"><p class="of_ellipsis">2020年8月12日14:06:22</p></i>
                    <i class="iconfont icon-xiaoxi"><p class="of_ellipsis">----</p></i>
                    <i class="iconfont icon-chakan"><p class="of_ellipsis">----</p></i>
                </div>
            </div>
            <div class="fliter-img" style="background-image: url(img/bgi_2.jpg);"></div>
            <div class="rotating-block">
                <div class="reverse-rotation-block">
                    <div class="image-block">
                        <img src="img/bgi_2.jpg">
                    </div>
                </div>
            </div>
        </a>
        <a class="post" href="">
            <div class="info">
                <p class="title">测试模组</p>
                <p class="introduction of-ellipsis_2">
                    内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息
                </p>
                <div class="meta">
                    <i class="iconfont icon-shijian"><p class="of_ellipsis">2020年8月12日14:06:22</p></i>
                    <i class="iconfont icon-xiaoxi"><p class="of_ellipsis">----</p></i>
                    <i class="iconfont icon-chakan"><p class="of_ellipsis">----</p></i>
                </div>
            </div>
            <div class="fliter-img" style="background-image: url(img/bgi_2.jpg);"></div>
            <div class="rotating-block">
                <div class="reverse-rotation-block">
                    <div class="image-block">
                        <img src="img/bgi_2.jpg">
                    </div>
                </div>
            </div>
        </a>
        <a class="post" href="">
            <div class="info">
                <p class="title">测试模组</p>
                <p class="introduction of-ellipsis_2">
                    内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息
                </p>
                <div class="meta">
                    <i class="iconfont icon-shijian"><p class="of_ellipsis">2020年8月12日14:06:22</p></i>
                    <i class="iconfont icon-xiaoxi"><p class="of_ellipsis">----</p></i>
                    <i class="iconfont icon-chakan"><p class="of_ellipsis">----</p></i>
                </div>
            </div>
            <div class="fliter-img" style="background-image: url(img/bgi_2.jpg);"></div>
            <div class="rotating-block">
                <div class="reverse-rotation-block">
                    <div class="image-block">
                        <img src="img/bgi_2.jpg">
                    </div>
                </div>
            </div>
        </a>
        <a class="post" href="">
            <div class="info">
                <p class="title">测试模组</p>
                <p class="introduction of-ellipsis_2">
                    内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息内部消息
                </p>
                <div class="meta">
                    <i class="iconfont icon-shijian"><p class="of_ellipsis">2020年8月12日14:06:22</p></i>
                    <i class="iconfont icon-xiaoxi"><p class="of_ellipsis">----</p></i>
                    <i class="iconfont icon-chakan"><p class="of_ellipsis">----</p></i>
                </div>
            </div>
            <div class="fliter-img" style="background-image: url(img/bgi_2.jpg);"></div>
            <div class="rotating-block">
                <div class="reverse-rotation-block">
                    <div class="image-block">
                        <img src="img/bgi_2.jpg">
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- 右侧栏 -->
<div class="right-aside">
    <%- include('right-aside.ejs') %>
</div>