<div class="left-aside">
    <%- css('css/left-aside.css') %>

    <div class="avatar">
        <img src="<%- theme.avatar %>">
    </div>

    <p class="name"><%- config.author%></p>
    <p class="introduction"><%- theme.introduction %></p>

    <div class="nav-list">
        <p class="title">导航</p>
        <a class="link" href="">
            <i class="icon iconfont icon-yemian-copy-copy">首页</i>
        </a>
        <a title="提问之前先看看?" class="link" target="view_window" href="https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way/blob/master/README-zh_CN.md">
            <i class="icon iconfont icon-tiwen">提问的智慧</i>
        </a>
        <a class="link" href="">
            <i class="icon iconfont icon-huaban88">Github</i>
        </a>
        <div class="fold-nav">
            <div class="link">
                <i class="icon iconfont icon-banshou">工具</i>
                <i class="flod_icon icon iconfont icon-close"></i>
            </div>
            <a href="" class="link">
                <i class="icon iconfont icon-huaban88">测试</i>
            </a>
            <div class="link">
                // 空白占位符...
            </div>
        </div>
    </div>

    <div class="nav-list">
        <p class="title">潜影盒</p>
        <div class="fold-nav">
            <div class="link">
                <i class="left_nav_link_icon icon iconfont icon-iconfontlink">友情链接</i>
                <i class="left_nav_link_icon flod_icon icon iconfont icon-close"></i>
            </div>
            <div class="link">

            </div>
        </div>
    </div>
</div>