/* 左侧功能区 */
#left-aside {
    position: fixed;
    top: 50px;
    left: 0;
    width: 220px;
    height: calc(100vh - 50px);
    background-color: #393e46;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 10%;
}

/*  滚动条样式统一 */
#left-aside::-webkit-scrollbar {
    background-color: #595B5E;
    width: 8px;
}

#left-aside::-webkit-scrollbar-track {
    /*background-color: red;*/
}

#left-aside::-webkit-scrollbar-track-piece {
    /*margin: 47px 0 2px;*/
    /*border-radius: 100px;*/
    background-color: #393e46;
}

#left-aside::-webkit-scrollbar-button {
    height: 0px;
}

#left-aside::-webkit-scrollbar-thumb {
    background-color: #595B5E;
    border-radius: 2px;
    box-shadow: 0 0 4px #595B5E;
}

.left-aside {
    width: 100%;
    height: auto;
}

.left-aside .avatar {
    width: 100%;
    height: 160px;
    padding: 30px 45px 0;
}

.left-aside .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 300ms;
}

.left-aside .avatar img:hover {
    transform: rotateZ(15deg);
}

.left-aside .name {
    width: 100%;
    text-align: center;
    color: #EAEAEA;
    margin-top: 10px;
    margin-bottom: 0;

    font-weight: 600;
    box-sizing: border-box;
    padding: 0 20px 0;
}

.left-aside .introduction {
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0.6;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 0 20px 0;
}

.left-aside .nav-list {
    width: 100%;
    min-height: 10px;
    padding-bottom: 10px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: #272A2F;
    color: #ffffff;
}

.left-aside .nav-list .title {
    user-select: none;
    width: 100%;
    height: 16px;
    font-size: 12px;
    color: #ffffff;
    box-sizing: border-box;
    opacity: 0.4;
    padding: 20px;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.left-aside .nav-list .link {
    user-select: none;
    position: relative;
    z-index: 10;
    transition: 300ms;
    width: 100%;
    color: inherit;
    display: block;
    box-sizing: border-box;
    padding: 0 20px 0;
    font-size: 14px;
    min-height: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.6);
    /*opacity: 0.6;*/
}

.left-aside .nav-list .link::after {
    transition: 300ms;
    content: "";
    left: 0px;
    top: 0px;
    position: absolute;
    height: 40px;
    width: 260%;
    z-index: -1;
    opacity: 1;
    background-image: linear-gradient(to right, #30343A 40%, rgba(0, 0, 0, 0) 60%);
    transform: translateX(-60%);
}

.left-aside .nav-list .link:hover {
    color: rgba(255, 255, 255, 1);
    /*opacity: 1;*/
}

.left-aside .nav-list .link:hover:after {
    transform: translateX(0%);
}

.left-aside .nav-list .link .icon {
    font-size: 14px;
}

.left-aside .nav-list .link .icon::before {
    font-size: 14px;
    margin-right: 8px;
}

.left-aside .nav-list .fold-nav {
    overflow: hidden;
    transition: 300ms;
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #292c32;
}

.left-aside .nav-list .fold-nav .link:not(.switch) {
    padding-left: 42px;
}

.left-aside .nav-list .fold-nav .switch {
    background-color: #393e46;
}

.left-aside .nav-list .fold-nav.active .switch {
    background-color: #292c32;
}


.left-aside .nav-list .fold-nav.active .switch .flod-icon {
    transform: rotateZ(0deg);
}

.left-aside .nav-list .fold-nav .switch .flod-icon {
    margin: 0;
    font-size: 12px;
    float: right;
    transition: 300ms;
    transform: rotateZ(-90deg);
}

.left-aside .nav-list .fold-nav .switch .flod-icon::before {
    margin: 0;
}